

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<h1>Login to Adventure!</h1>
<form action="/login" method="post">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="username" class="form-control" id="username" placeholder="Enter username" name="username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
    </div>

      <button type="submit" class="btn btn-default">Submit</button>
  </form>

<% if flash.has?(:message) %>
<h5 style="color: red;"><%= flash[:message] %></h5>
<% end %>
