
<h1><% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %></h1>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="pull-right">
  <a href="/logout"><button type="button" class="btn btn-primary">Logout</button></a>
  <a href="/trails/new"><button type="button" class="btn btn-primary">Add Trail</button></a>

</div>
<h1> Hiking Entries</h1>


<%@user.trails.each do |trail| %>
<a href= "/trails/<%= trail.id %>"><h3><%= trail.name %></h3></a>


<% end %>
