
<h1><% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %></h1>

<h1><%= @user.slug %>'s Hiking Entries</h1>


<%@user.trails.each do |trail| %>
<a href= "/trails/<%= trail.id %>"><h2><%= trail.name %></h2></a>


<% end %>


<br></br>


<ul>

<li><a href="/trails">View All Trails</a></li>
<li><a href="/trails/new">Add a new trail</a></li>
<li><a href="/logout">Logout</a></li>

</ul>
