
<h1><% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %></h1>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



<h1> Ready to log more trails?</h1>


<h3><a href="/trails/new">YESSS!!</a></h3>


<h3>Need some inspiration to decide your next journey? Check out this video!</h3>
<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/zwhx8pQNpz4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</center>
