<h1>Welcome</h1>



<%@trails.each do |trail| %>


<h3><a href ="/trails/<%= trail.id %>"><%= trail.name %></a></h3></a>
Location:<label><%= trail.location %></label>


<% end %>

<h3><a href="/trails/new">Create New Trail</a></h3>


<a href="/logout">Logout</a>

<br></br>

<a href="/users/<%= @user.slug %>">Profile</a>
