
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<h1>All users's trails</h1>



<% @trails.each do |trail| %>


<a href="/trails/<%= trail.id %>"><h3><%= trail.name %></h3></a>
<b>Location:</b><label><%= trail.location %></label>



<% end %>
