<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<h1>Add a New Trail:</h1>


<form action="/trails" method='post'>

   Name:<br>
  <input type="text" name="name"><br>
   Location:<br>
  <input type="text" name="location"><br>
    Date:<br>
  <input type="text" name="date"><br>
    Distance:<br>
  <input type="float" name="distance"><br>
   Notes:<br>
  <input type="text" name="notes" required="true">
  <br></br>


  <input type='submit' id='submit' value='Submit'>
</form>
