<!DOCTYPE html>
<html>

 <head>
  <meta charset="utf-8">

    <title>Adventure: a hiking journal</title>

 </head>
  <body>
    <div class="main">

      <h1> Welcome to Adventure, your hiking journal</h1>
     </div>

 </body>
</html>
