<!DOCTYPE html>
<html>

 <head>
  <meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Adventure: a hiking journal</title>

 </head>
  <body>


    <center> <h1> Welcome to Adventure, your hiking journal</h1>
      <h3>Log your hikes, and share them with the community</h3>

  <p class="flash"><% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %></p>



<br></br>

  <div>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
              <img src="../images/index-1.jpg" alt="hiking dog" style="width:100%">
          <div class="caption">
            <p>Hiking with the bff!</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">

          <img src="../images/index-2.jpg" alt="Nature-stairway" style="width:100%">
          <div class="caption">
            <p>Stairway to heaven.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">

          <img src="../images/index-3.jpg" alt="foot-bridge" style="width:100%">
          <div class="caption">
            <p>Wanderlust.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

 </body>
</html>
